* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Mono", monospace;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-image: url("./cozyclockwallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.clock-container {
    font-size: 6rem;
    display: block;
    align-items: center;
    gap: 10px;
    color: #333;
}

.time-number {
    color: #f0f0f0;
    display: inline-block;
}

.separator {
    color: #f0f0f0;
    display: inline-block;
}

.hideable {
    transition: visibility 1s, opacity 1s linear;
    opacity: 1;
}

.hideable.hidden {
    visibility: hidden;
    opacity: 0;
}

#hours12 {
    display: none;
}

#ampm {
    display: none;
}

.format-button {
    font-family: inherit;
    display: block;
    padding: 5px 10px;
    margin: 10px auto;
    text-align: center;
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.button-text {
    font-size: 1.5rem;
}